HookrTelegramBot/.idea
HookrTelegramBot/HookrTelegramBot/obj
HookrTelegramBot/HookrTelegramBot/bin
Hookr/.idea
Hookr/HookrTelegramBot/bin
Hookr/HookrTelegramBot/obj
Hookr/Hookr.Telegram/bin
Hookr/Hookr.Telegram/obj
Hookr/Web/Hookr.Web.Backend/obj
Hookr/Web/Hookr.Web.Backend/bin
Hookr/Web/frontend/.firebase
Hookr/Web/frontend/.idea
Hookr/Web/frontend/.firebaserc
Hookr/Web/frontend/firebase.json
Hookr/Hookr.Core/obj
Hookr/Hookr.Core/bin
Hookr/Hookr.Migrator/bin
Hookr/Hookr.Migrator/obj
