.Login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.Login > h1,
.Login > div {
  margin: 8% 0;
}

.Login > h1 {
  color: white;
}
