.login-container {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  background-color: #00244e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.login-container * {
  margin: 7% 0;
}

.login-container > h1 {
  color: white;
}
